.App {
  text-align: center;
}

.App-header, .App-footer {
  background-color: #222;
  color: white;
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.App-title {
  font-size: 1.5em;
}

