.App {
  text-align: center;
}

img {
  background-color: #222;
  color: white;
  object-fit: cover;
  width: 200px;
  height: 200px;
  line-height: 50px;
  font-size: 1rem;
  vertical-align: middle;
}

button {
  cursor: pointer;
}

input {
  margin: auto;
  background-color: white;
}

.form-container {
  margin: 2rem auto;
}
